*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  :root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  .bannerr{
      position: relative;
      height:100vh;
      background-image: url(./pexels-indra-gunawan-313032.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height:80px;
  }
  .bannerr::before{
    background-color: rgba(116, 99, 99, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .bannerr .content{
      color:white;
      font-weight: bolder;
      z-index:9;
  }
  .bannerr .content h1{
      font-size: 72px;
  }
  .bannerr .content h2{
      font-size:60px;
  }
  .bannerr span{
      letter-spacing: 10px;
  }
  .banner{
    height: 100vh;
    font-family: montserrat;
    background-image: url(./Logo\ 3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  nav{
    background: transparent;
    position: absolute;
    height: 80px;
    width: 100%;
    z-index: 99;
  }
  /* label.logo{
    color: rgb(234, 220, 141);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  } */
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgb(234, 220, 141);
    color:rgb(50, 43, 43);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgb(50, 43, 43);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      position: absolute;
      left:87%;
      display: block;
      color:white;
      z-index:11111111;
    }
    label.logo{
        color:white;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(50, 43, 43);
      top: 0px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index:999;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color:white;
    }
     nav ul li a.active,a:hover{
      background: rgb(234, 220, 141);
      color:rgb(50, 43, 43);
      transition: .5s;
    }
    #check:checked ~ ul{
      left: 0;
    }
    
  }


  section{
    /* border:2px solid black; */
      min-height:100vh;
      padding:60px;
      font-family:sans-serif;
      background-color: var(--clr-grey-3);
      color:#ddd;
  }
  .section2{
      min-height: 100vh;
      background-color:#998c8c;
      padding:80px 100px;
      color:rgb(24, 20, 20);
  }
  section .title{
      font-size: 28px;
      text-align: center;
      font-weight:bold;
      margin:50px 0;
  }
  #service .content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
}
section .content ul li{
  display:block;
  padding:20px;
  display:flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:250px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  margin:20px 0;
  color:var(--clr-black);
  transition:var(--transition)
}
section .content ul li i{
    font-size:33px;
}
  section .content ul li:hover{
    transform: scale(1.05);
  }
  section .content{
      font-size:18px;
      font-weight:200;
  }
  .section2 .content span{
      font-size: 30px;
  }
  section .content span{
      display: block;
      font-size:38px;
      margin-bottom:50px;
  }
  section .content ul h2{
      margin:10px 0;
  }
  section .content ul li{
      list-style:circle;
      line-height: 50px;
      font-size:22px;
      font-weight: 400;
  }

  @media (max-width:589px){
      .bannerr .content{
          padding:0 10px;
      }
      .bannerr .content h1{
          font-size:50px;
      }
      .bannerr .content h2{
          font-size:30px;
      }
      .bannerr .content span{
          letter-spacing: 5px;
      }
      .bannerr{
        background-attachment: scroll;
      }
      section{
        /* min-height:100vh; */
          padding:10px 25px;
      }
      section .content span{
        font-weight:300;
          font-size:22px;
      }
      section .content ul{
        padding-bottom:70px;
        /* border:2px solid black; */
      }
      section .content ul li{
        line-height: 38px;
        font-size:20px;
        margin:5px 0;
          padding:10px 20px;
          width:90%;
      }
      .section2{
        /* min-height:100vh; */
          padding:10px 25px;
      }
      .section2 .content span{
          font-weight:300;
          font-size:21px;
      }
      .section2 .content ul{
          padding:0 20px;
      }
  }
  .action{
    /* margin:40px; */
  }
  .action a{
    text-decoration: none;
    padding:10px 15px;
    /* margin:100px 0; */
    box-shadow: var(--dark-shadow);
    width:10%;
    text-align:center;
    background-color: white;
    color:black;
  }

  .cont{
    font-family: sans-serif;
    min-height:100vh;
    background-color: rgb(206, 226, 226);
    padding:150px 0;
}
.cont h1{
    text-align: center;
    text-transform: uppercase;
    color:var(--clr-black);
    margin:30px 0;
}
.container{
    min-height:100vh;
    display: flex;
    /* border:2px solid black; */
    flex-wrap: wrap;
    gap:30px;
    padding:0 20px;
    align-items: center;
    justify-content: space-around;
}
.item{
    color:black;
    background-color:white;
    display: flex;
    flex-direction: column;
    box-shadow: var(--dark-shadow);
    align-items: center;
    justify-content: space-around;
    /* border:2px solid black; */
    padding:0 10px;
    border-radius:10px;
    width:270px;
    height:250px;
}
.item i{
    font-size:60px;
    color:var(--clr-black)
}
.item p{
    text-align: center;
    font-size:22px;
}
@media(max-width:589px){
    .container{
        min-height:100vh;
        display:flex;
        flex-direction: column;
        gap:50px;
        padding:50px 0;
    }
    .item{
        width:90%;
        height:190px;
    }
}


.contact{
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--clr-white);
  /* border:2px solid black; */
  background-color: var(--clr-black);
}
.form-style-1 {
margin:10px auto;
width: 800px;
/* min-width:300px; */
/* border:2px solid black; */
padding: 20px 12px 10px 20px;
font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
padding: 0;
display: block;
list-style: none;
margin: 10px 0 0 0;
}
.form-style-1 label{
margin:0 0 3px 0;
padding:0px;
display:block;
font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=phno],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border:1px solid #BEBEBE;
border-radius: 10px;
margin:10px 0;
padding: 7px;
/* margin:0px; */
outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=phno]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
-moz-box-shadow: 0 0 8px #88D5E9;
-webkit-box-shadow: 0 0 8px #88D5E9;
box-shadow: 0 0 8px #88D5E9;
border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
width: 49%;
}

.form-style-1 .field-long{
width: 100%;
}
.form-style-1 .field-select{
width: 100%;
}
.form-style-1 .field-textarea{
height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
background:var(--clr-primary-1);
padding: 8px 15px 8px 15px;
border: none;
color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
background: var(--clr-primary-2);
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
.form-style-1 .required{
color:red;
}


@media (max-width:589px){
.contact h1{
    /* margin:30px auto; */
    padding:30px;
    text-align: center;
}
.contact{
  min-height:80vh;
    display: block;
    /* border:2px solid black; */
    margin:0;
    padding:0;
    flex-direction: column;
}
.form-style-1{
    width:100%;
    margin:0;
    /* margin:30px 0; */
    /* border:2px solid black; */
}
}


.tools{
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--clr-white);
}

.conttool{
  font-family: sans-serif;
  /* border:2px solid black; */
}

.conttool h1{
  margin:20px 0;
  padding-top:30px;
  /* margin-top:30px; */
  color:var(--clr-black);
  text-align: center;
}

.itimg img{
  width:200px;
}

@media(max-width:589px){
  .tools{
      min-height:100vh;
      padding:20px 0;
      gap:30px;
      flex-direction: column;
  }
}

.slink a{
  color:black;
  font-size: 40px;
  text-decoration: none;
  float: right;
}
.slink a:hover{
  color:black;
}