

 :root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-bittersweat:#FF6263;
    --clr-punch:#DE4839;
    --clr-red:#BF3325;
    --clr-red-1:#E21717;
    --clr-red-2:#BF3312;
    --clr-red-3:#D82E2F;
    --clr-red-4:#EB4D4B;
    --clr-red-5:#EF5354;
    --clr-red-6:#B4161B;
    --clr-red-7:#E6425E;
    --clr-red-8:#E83A59;
    --clr-red-9:#B9345A;
    --clr-blue-1:#1B98F5;
    --clr-blue-2:#23C4ED;
    --clr-blue-3:#383CC1;
    --clr-blue-4:#12B0E8;
    --clr-blue-5:#51E1ED;
    --clr-blue-6:#207398;
    --clr-blue-7:#46B2E0;
    --clr-blue-8:#3944F7;
    --clr-blue-9:#2827CC;
    --clr-blue-10:#120E43;
    --clr-blue-11:#5DA3FA;
    --clr-blue-12:#03203C;
    --clr-green-1:#1FAA59;
    --clr-green-2:#38CC77;
    --clr-green-3:#02B290;
    --clr-green-4:#50DBB4;
    --clr-green-5:#3DBE29;
    --clr-green-6:#4DD637;
    --clr-green-7:#1C8D73;
    --clr-green-8:#66AD47;
    --clr-green-9:#6AC47E;
    --clr-green-10:#6EC72D;
    --clr-green-11:#22CB5C;
    --clr-green-12:#00D84A;
    --clr-yellow-1:#E8BD0D;
    --clr-yellow-2:#EDBF69;
    --clr-yellow-3:#F4BE2C;
    --clr-yellow-4:#EDC126;
    --clr-yellow-5:#E5D68A;
    --clr-yellow-6:#DDD101;
    --clr-yellow-7:#D9D55B;
    --clr-yellow-8:#F7CD2E;
    --clr-yellow-9:#AF9D5A;
    --clr-yellow-10:#C7C11A;
    --clr-yellow-11:#F4CE6A;
    --clr-yellow-12:#A77B06;
    --clr-black: #222;
    --clr-fancy-1:8D3DAF;
    --clr-fancy-2:#E07C24;
    --clr-fancy-3:#758283;
    --clr-fancy-4:#E03B8B;
    --clr-fancy-5:#FF6666;
    --clr-fancy-6:#242B2E;
    --clr-fancy-7:#03C6C7;
    --clr-fancy-8:#5A20CB;
    --clr-fancy-9:#6A1B4D;
    --clr-fancy-10:#CAD5E2;
    --clr-fancy-11:#35BDD0;
    --clr-fancy-12:#0D0D0D;
    --gradient-1:linear-gradient(to right,#FF4331 ,#D31A50);
    --gradient-2:linear-gradient(to right,#FF9F4A ,#FF3C83);
    --gradient-3:linear-gradient(to right,#FED54A ,#FF9347);
    --gradient-4:linear-gradient(to right,#EFF54D ,#00AC61);
    --gradient-5:linear-gradient(to right,#538FFB ,#5B54FA);
    --gradient-6:linear-gradient(to right,#FD297A ,#9424F0);
    --gradient-7:linear-gradient(to right,#253898 ,#5737D6);
    --gradient-8:linear-gradient(to right,#DB0B5F ,#6F00ED);
    --gradient-9:linear-gradient(to right,#E1A2B8 ,#9F2BC1);
    --gradient-10:linear-gradient(to right,#00BC40 ,#4C3AE3);
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

/*body{
    background:var(--gradient-9);
}*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

body{
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

/*NAVBAR*/

.navbar{
    width:100%;
    position: absolute;
    padding:1.3rem 1rem;
    background:transparent;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(225,225,225,.5);
}

.navbar-menu{
    list-style: none;
    transition: var(--transition);
}

.navbar-menu li{
    display:inline-block;
    margin:0 1rem;
}

.navbar-menu a{
    padding:0.4rem 0.7rem;
    border-radius:10px;
    font-size:1.5rem;
    color:black;
    text-decoration: none;
}

.navbar-menu a:hover{
    background-color: rgb(234, 220, 141);
    color:rgb(50, 43, 43);
}

.navbar-toggle{
    display: none;
    /*color:black;*/
}

.navbar-toggle1{
    display:none;
}

.toggle1{
    display: none;
}

.toggle2{
    color:white;
    /*font-size:1.3rem;*/
    position: absolute;
    display: block;
    margin:20px 0;
    left:80%;
    z-index: 50;
}

.toggle3
{
    color:white;
    font-size:1.3rem;
    position: absolute;
    right:5%;
    margin:20px 0;
    display: block;
    z-index: 58;
}

.navbar .navtoggle{
    left:0;
}

/*BANNER*/

.banner{
    background-image: url(building1.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner-logo{
    width:40%;
    min-width:350px;
    margin:0 auto;
    z-index: 35;
}

.banner-logo img{
    width:100%;
}



.Wilderness-1-rgba { color: rgba(242, 242, 242, 1); }
.Wilderness-2-rgba { color: rgba(165, 165, 165, 1); }
.Wilderness-3-rgba { color: rgba(89, 89, 89, 1); }
.Wilderness-4-rgba { color: rgba(38, 38, 38, 1); }
.Wilderness-5-rgba { color: rgba(12, 12, 12, 1); }

/*SERVICE*/

.section{
    padding:3rem 2rem;
    background-color: white;
}

.section-title{
    font-size:1.4rem;
    font-weight:400;
    color:rgba(38, 38, 38, 1);
    padding:3rem 2rem;
    text-align:center;
}

.section-content{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:2rem 1rem;
}

.section-content .box{
    width:22%;
    min-width:270px;
    margin:1.5rem 0;
    padding:3.5rem 1.5rem;
    font-size:1.3rem;
    background-color: rgba(210, 228, 230);
    border-radius: 10px;
    color:rgba(38, 38, 38, 1);
    /*flex:1 0 22%;*/
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-content .box i{
    margin:1rem;
    font-size:2rem;
}

.section-content .box p{
    font-weight:bolder;
}

.action-top a{
    text-decoration: none;
    font-size:1.5rem;
    color:rgba(38, 38, 38, 1);
}

/*TOOLS*/

.tools{
    padding:5rem 2rem;
}

.tools-title{
    padding:3rem 2rem;
    font-size:1.9rem;
    font-weight:bolder;
    text-align: center;
}

.tools-container{
    padding:3rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tool-img{
    width:15%;
    margin:1.5rem;
    min-width:180px;
}

.tool-img img{
    width:100%;
}

/*CONTACT*/

.contact{
    padding:3rem 1rem;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.contact-title{
    font-size:1rem;
    text-align: center;
    font-weight: 200;
}

.contact-form{
    /*margin:0 auto;*/
    display: block;
    position: relative;
    width:90%;
    margin:2rem auto;
    padding:2rem 1rem;
    display: flex;
    flex-direction: column;
}

.contact-form input{
    margin:1rem 0;
    width:40%;
    min-width:250px;
    height:2rem;
}

.contact-form .rtext{
    height:7rem;
}

.contact-form .action{
    /*flex-grow: 0;*/
    display:block;
    width:30%;
    /*min-width:40px;*/
}

.contact-form .action button{
    padding:0.7rem 2rem;
    background-color:rgba(210, 228, 230);
    border-radius:10px;
    /*outline:none;*/
    border:none;
}

.contact-form .contact-links{
    /*padding:2rem 0;*/
    margin-bottom:2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*flex-direction: flex-end;*/
}
.contact-form .links{
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
}

.contact-form .contact-links i{
    margin:0.3rem 0;
}

.contact-form .contact-links .conten{
    margin:0 0.5rem;
    display:inline;
}

.contact-form .social-links{
    /*margin:1rem;*/
    font-size: 2rem;
    width:5%;
    top:90%;
    position:absolute;
    right:3%;
}

a{
    text-decoration: none;
    color:black;
}


/*ABOUT*/

.section1-content{
    width:70%;
    min-width:300px;
    margin:0 auto;
    font-size:1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}

span{
    font-weight: 700;
}


@media(max-width:597px){
    .navbar{
        margin:0;
        padding:0;
    }
    .navbar-menu{
        position:absolute;
        left:-100%;
        margin:0;
        padding:0;
        width:100%;
        height:100vh;
        z-index: 50;
        background-color:rgb(50, 43, 43);
        display:flex;
        flex-direction: column;
    }
    .navbar-menu a{
        color:rgb(234, 220, 141);
    }
    /*.navbar-menu .anchor:hover{
        background-color: white;
        color:rgb(50, 43, 43);
    }*/
    .navbar-menu li{
        margin:1.5rem 2.5rem;
    }
    .navbar-toggle{
        /*background-color: black;*/
        font-size:1.4rem;
        position:absolute;
        display: block;
        margin:20px 0;
        left:4%;
        z-index: 5;
    }
}







