
.navbar{
    width:90%;
    margin:10px auto;
    display:flex;
    justify-content: space-between;
}
.ttitle{
    margin:5px 20px;
    text-align: center;
}
.ul1{
    width:30%;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    /* border:2px solid black; */
}
.ul1 li{
    display: inline-block;
    list-style: none;
}
.ul1 li:hover{
    text-decoration: underline;
}

.container{
    height:90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ccontainer{
    height:90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width:27%;
    padding:10px;
    /* border:2px solid black; */
}
.ccont{
    text-align: center;
}
.cimage img{
    width:250px;
    height:250px;
    object-fit: contain;
}

.title{
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width:600px) {
    .navbar{
        flex-direction: column;
        /* border:solid 2px black; */
    }
    .ul1{
        width:100%;
        margin:20px 0;
        display: flex;
        justify-content: space-around;
        /* border: 2px lightcoral solid; */
    }
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        /* border:2px solid black; */
    }
    .ccontainer{
        height:90%;
        margin-top:50px;
        flex-direction: column;
        justify-content: center;
        gap:70px;
        /* border:2px solid black; */
    }
    .card{
        width:90%;
        margin:50px 0;
    }
    .title{
        font-size: 2.5rem;
        /* border:2px solid black; */
    }
}
